

.open-sans-custom {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100; 
    font-style: light;
    font-variation-settings: "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
}


.container-fluid {
    padding: 70px;
    background-color: white;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-text{
    border: 2px solid #bf9456 ;
    border-radius: 15px;
    padding: 25px;
    text-align: justify;
    color: black;
}
.span-p
{
    color:#bf9456;
    font-weight: 700;
}
.logo {
    height: auto;
    margin-bottom: 10px;
    justify-content: left;
    display: flex;
    width: 25%;
    position: relative;
    left: -35px;
}
.college-dropdown {
    width: 100%;
    padding: 10px 0px;
    background-color: #26282A; /* Black background */
    color: white; /* White text */
    border: none;
    border-bottom: 2px solid #bf9456; /* Border color to match the theme */
    border-radius: 5px;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
}



.college-dropdown:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 2px #bf9456; /* Add a subtle glow on focus */
}

.form-gif img
{
    margin-right: 20%;
}
.form-header h1 {
    width: 95%;
    font-weight: 300;
    text-align: left;
    font-size: 70px;
    margin: 0 0 10px;
    color: black;
}
.form-gif img{
    width: 90%;
    align-content: flex-start;
}

.form-header p {
    margin: 0 0 20px;
    display: flex;
    font-weight: 500;
}

.form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #26282A;
    border: 0px solid #26282A;
    color: white;
    border-radius: 20px;
    box-shadow: 0px -12px 2px #bf9456;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 200;
}

input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: #26282A; 
    border-bottom: 2px solid #bf9456;
    border-radius: 0;
    color: white;
    box-shadow: none; 
    outline: none; 
    height: 50%;
}


.form-group textarea {
    resize: vertical;
}
#college-type{
    opacity: 0.5;
    font-size:smaller;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #bf9456; /* Use the background color */
    color: black; /* White text color */
    border: 1px solid;
    border-radius: 7px;
    font-size: 16px;
    /* cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; */
}

button:hover {
    background-color: black; /* Change to black on hover */
    color: #bf9456;
}

.footer-links a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
#download_section
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #666;
    font-weight: 500;
    
}
#download_section>img{
    width: 100px;
}


@media (max-width: 600px) {
    .container-fluid {
        padding: 0px;
    }

    .form-header {
        text-align: center;
        order: 2; /* Place form-header below form-content */
        margin-bottom: 20px;
    }
    
    .form-content {
        margin-top: 20px;
        padding: 0; /* Remove padding */
        border: none; /* Remove border */
        order: 1; /* Ensure form-content is above form-header */
    }
    input,
.form-group textarea {
    height: 50%;
}


    .info-text,
    .form-header .logo,
    .form-header h1,
    .form-header p {
        width: 100%;
        padding: 0; /* Remove padding */
    }
    .form-header h1{
        font-size: 150%;
        margin-top: 20px;
    }
    .form-header p{
        padding: 10px;
        
    }
    .form-gif img {
        margin-right: 0%;
    }

    .logo {
        margin: 0px 108px;
        width: 60%;
        height: auto;
    }
    #download_section > p
    {
        display: none;

    }
    #download_section
    {   display: flex;
       
    }
}
